[Unit]
Description=Синхронизация профиля student с сервера
After=network-online.target
[Service]
ExecStart=/etc/cod-os/run-rsync.sh
[Install]
WantedBy=multi-user.target